body {
	font-size: .9em;
	font-family: Helvetica, Arial, serif-sans;
}
h1, h2 {
	padding-bottom: 2px;
	border-bottom: 1px solid silver;
	font-weight: 300;
}
h2 {
	margin-top: 2em;
}

@media (max-width: 800px) {
	h1 { font-size: 2.5em; font-weight: 600; }
}